* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
  }


body {
    background: #080808;
    color: #fff; 
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}

nav ul li a{
    color: #fff;
    margin: 0 23px; 
    text-decoration: none;
    font-size: 25px;
    position: relative;
    font-family:  Roboto Mono,monospace;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background:linear-gradient(to right, #02f76c, #03bff9);
    position: absolute;
    left: 0;
    bottom: -6px;
    transform: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}

/*nav end*/
.c1
{
    margin-top: 25px;
    /* margin: auto; */
}
/* .c1{
    padding: 5px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    /* padding: 5px 5%; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* display: flex;
 flex-wrap: wrap; 
 flex-direction: column;
 align-items: center;
    justify-content: center;
    gap: 20px; */
} 
.skills .row{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}
.skills .item
{
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}
.skills .item-text
{
    display: flex;
    justify-content: flex-start;
    font-weight:600 ;
    font-size: 1.3rem;
    position: relative;
} 

.skills .item-text span :last-child
{
    position: absolute;
}

.skills .item-text .w-90
{
    margin-left: 85%;
}
.skills .item-text .w-85
{
    margin-left: 80%;
}
.skills .item-text .w-80
{
    margin-left: 75%;
}
.skills .item-text .w-88
{
    margin-left: 83%;
}
.skills .item-text .w-84
{
    margin-left: 79%;
}

.skills .item-text .w-93
{
    margin-left: 89%;
}

.progress {
    margin: 1rem 0;
    border-radius: 10px;
    height: 16px;
    width: 80%;
    background-color: #333333;
    overflow: hidden;
}

.progress-bar {
    height:100%;
    background: linear-gradient(to right, #02f76c, #03bff9);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}



.progress-bar.w-90{
    width: 90%;
}
.progress-bar.w-85{
    width: 85%;
}
.progress-bar.w-80{
    width: 80%;
}
.progress-bar.w-88{
    width: 88%;
}
.progress-bar.w-84{
    width: 84%;
} 
.progress-bar.w-93{
    width: 93%;
} 




